body{
  background-color: yellow;
}
#kwadrat{
  height: 400px;
  width: 400px;
  background-color: aqua;
  background-size: 50% 50%;
  background-image: url(images/Obrazek.jpg);
  background-repeat: no-repeat;
}
